@import "../../_settings/variables";
@import "../../_settings/mixins";

.footer {
  width: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  background-color: black;
  color: $off-white;

  @include media(tablet) {
    height: 50px;
    padding: 0;
    align-items: center;
  }

  &_copyright {
    font-size: 1.2rem;
  }
}
