@import "../../_settings/variables";
@import "../../_settings/mixins";

.portraits {
  width: 100%;
  padding: 5%;
  min-height: 80vh;
  position: relative;

  @include media(laptop) {
    padding: 5% 10%;
  }

  &_container {
    column-count: 2;
    column-gap: 10px;

    @include media(tablet) {
      column-count: 3;
      column-gap: 20px;
    }

    @include media(desktop) {
      column-count: 4;
    }

    &:hover > *:not(:hover) {
      opacity: 0.45;
      transition: opacity 0.25s;
    }

    & figure {
      margin: 0;
      margin-bottom: 10px;
      transition: opacity 0.25s;

      @include media(tablet) {
        margin-bottom: 20px;
      }

      & > img {
        grid-row: 1 / -1;
        grid-column: 1;
        width: 100%;
      }
    }
  }
}
